.background {
    background: #000;
    border-top: 2px solid #DFBA14;
}

.margin {
    max-width: 1728px;
    margin: 0 auto;
}

.content {
    padding: 0 29px;
    display: flex;
    justify-content: space-between;
}

/* CONTENT LEFT */
.contentLeft {
    display: flex;
    align-items: center;
}

.contentLeft p {
    color: #FFF;
    font-family: var(--font-cairo);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contentLeft img {
    width: 60px;
    height: 60px;
    padding: 10px 0;
    padding-right: 15px;
}

/* CONTENT RIGHT */
.contentRight {
    padding: 0 20PX;
    display: flex;
    align-items: center;
}

.contentRight img {
    padding: 0 20PX;
}

.contentRight p {
    color: #FFF;
    font-family: var(--font-koulen);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 767px) {
    .content {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
    }
    .contentLeft p {
        font-size: 15px;
        font-weight: 400;
        text-align: center;
    }
    .contentLeft img {
        width: 50px;
        height: 50px;
        padding: 10px 0;
        padding-right: 0;
        padding-left: 10px;
    }
    .contentRight {
        padding: 0 20PX;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .contentRight img {
        padding: 10px 20px;
        width: 40px;
        height: 40px;
    }
    .contentRight p {
        color: #FFF;
        font-family: var(--font-koulen);
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}